.main {
  width: 1000px;
}
.main_nav {
  height: 30px;
  padding: 15px 40px;
  border-bottom: 1px solid #eae8eb;
}
.main_nav .left {
  float: left;
}
.main_nav .right {
  float: right;
  font-size: 14px;
}
.main_nav .right p{
  float: right;
}
.main_nav .right span {
  color: red;
  font-size: 16px;
  font-weight: 700;
}
.main_nav .right button {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  margin: 10px;
  background-color: #4d96ff;
  color: #fff;
}

.main_item {
  width: 860px;
  height: 140px;
  padding: 20px;
  border-radius: 20px;
  background-color: #eae8eb;
  margin: 10px auto;
}
.main_item .left {
  float: left;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #888;
  cursor: pointer;
}

.main_item .left img {
  width: 15px;
  height: 15px;
}

.main_item .center {
  float: left;
  margin: 5px 15px;
}
.main_item .center img {
  width: 100px;
  border-radius: 8px;
}

.main_item .right {
  position: relative;
  float: left;
  margin-top: 5px;
}

.main_item .right .desc {
  float: left;
  width: 250px;
  font-size: 13px;
  margin-right: 70px;
  white-space: normal;
}

.main_item .right .price {
  font-weight: 700;
  margin-right: 100px;
}

.main_item .right .allprice {
  font-weight: 700;
  color: red;
  margin-left: 100px;
}

.main_item .right .delete {
  font-size: 14px;
  position: absolute;
  top: 100px;
  right: 0px;
  color: #888;
}

.main_item .right .delete:hover {
  color: #000;
}

.main_footer {
  height: 25px;
  padding: 20px 50px;
  border-top: 1px solid #eae8eb;
  font-size: 14px;
}

.main_footer .bottom_left {
  float: left;
  width: 30%;
  padding: auto 30px;
}
.main_footer .bottom_left .checkbox {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #888;
  cursor: pointer;
}

.main_footer .bottom_left .checkbox img {
  width: 15px;
  height: 15px;
}

.main_footer .bottom_left .checkbox_text {
  padding-left: 5px;
}

.main_footer .bottom_right {
  float: left;
  width: 70%;
  text-align: right;
}

.main_footer .bottom_right .count,
.main_footer .bottom_right .all {
  margin: 0 20px;
}

.main_footer .bottom_right .all span,
.main_footer .bottom_right .count span {
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin: 0 5px;
}

.main_footer .bottom_right .all button {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  background-color: #4d96ff;
  color: #fff;
  margin-left: 15px;
}

.checkedActive {
  background: url(../image/对号.png);
  border: 1px solid #4d96ff!important;
}

.noMessage{
  position: absolute;
  top: 160px;
  left: 430px;
  color: #909399;
  visibility: hidden;
}

#app .visibleMessage {
  visibility: visible;
}





