.content h3 {
  padding: 15px;
  background-color: #fff;
}

.content .bottom {
  background-color: #fff;
  margin: 10px;
  padding: 0 10px 0 10px;
}

img {
  width: 120px;
  height: 120px;
}

#frameName {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
